body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh ;


    background-color: rgb(167, 47, 47)
}

.squa {
    display: flex ;
    justify-content: center ;
    align-items: center;
    width : 100px ;
    height : 100px ;
    margin: 5px ;

    /* Oui j'aime le rouge */
    background-color : red;
}

.squa1 {
    display: flex ;
    justify-content: center ;
    align-items: center;
    width : 100px ;
    height : 100px ;
    margin: 5px ;

    /* Plus de ROUGE! */
    background-color: rgb(124, 0, 0);
}